// css footer
// css footer
footer {
    background-color: $black-cl;
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
        color: $white-cl;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .footer__title {
            font-family: "sfu";
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
        .social {
            margin-top: 50px;
            margin-bottom: 70px;
            display: flex;
            img {
                width: 50px;
                height: 50px;
                margin: 10px;
                filter: invert(1);
            }
        }
        .footer__menu {
            display: flex;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0.64px;
            margin-bottom: 45px;
            &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    color: $white-cl;
                    @include transition(0.5s);
                }
                &:not(:last-child)::after {
                    display: inline-block;
                    content: "";
                    background-color: $white-cl;
                    height: 20px;
                    margin: 0 15px;
                    width: 2px;
                }
                &:hover {
                    a {
                        color: $red-cll;
                        @include transition(0.5s);
                    }
                }
            }
        }
        .footer__cpr {
            margin-top: 15px;
        }
    }
    @include sm {
        .container {
            padding-top: 40px;
            padding-bottom: 40px;
            .social {
                margin-top: 40px;
                margin-bottom: 50px;
                display: flex;
                img {
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                    filter: invert(1);
                }
            }
            .footer__menu {
                font-size: 12px;
                width: 300px;
                justify-content: center;
                flex-flow: row wrap;
                &-item {
                    &:not(:last-child)::after {
                        height: 15px;
                        margin: 0 12px;
                    }
                }
            }
            .footer__cpr {
                font-size: 12px;
            }
        }
    }
}